/* Variables */
:root
{
    --primary-color: rgba(13,110,139,0.75);
    --secondary-color: rgba(229,148,0,0.9);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed:0.75s;
}

/* Resets */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container
{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase
{
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

#showcase::before
{
    content: '';
    background: url('/hamburgure_menu_overlay/img/showcase.jpg')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase, .showcase-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#showcase h1
{
    font-size: 4rem;
}

#showcase p
{
    font-size: 1.3rem;
}

.btn
{
    display: inline-block;
    text-decoration: none;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
}

.btn:hover
{
    opacity: 0.7;
}

/* Menu Section */

.menu-wrap
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* So that menu will always in top  */
}

.menu-wrap .toggler
{
    position: absolute; /* as it will overlay using absolute*/
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0; /*with this check box will be invisible */
}

.menu-wrap .hamburgur  /* responsible for box*/
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* Hamburgur lines */

.menu-wrap .hamburgur > div /* here ">" indicate immidiate div present*/ 
{
    position: relative;
    flex: none; /* It sizes the item according to its width / height properties.  */
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburgur line top-bottom */

.menu-wrap .hamburgur>div::before,  /* 1st and 2nd line */
.menu-wrap .hamburgur>div::after
{
    content:'';
    position: absolute;
    z-index: 1;
    top:-10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburgur>div::after /* third line */
{
    top: 10px;
}

/* Changing togglers into cross */

.menu-wrap .toggler:checked + .hamburgur > div  /* "checked" is targeted one */ 
{
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburgur > div::after
{
    transform: rotate(90deg);
    top: 2px;
}
.menu-wrap .toggler:checked + .hamburgur > div::before
{
    transform: rotate(90deg);
    top: -2px;
}

/* After checked hover styling */

.menu-wrap .toggler:checked:hover + .hamburgur > div
{
    transform: rotate(225deg);
}
/* Show menu */

.menu-wrap .toggler:checked ~ .menu /*"~ " to access a menu class*/
{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div
{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div
{
    opacity: 1;
    transition: opacity 0.4s ease 0.4s ;
}

/* Menu Styling */

.menu-wrap .menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for overlay menu */

.menu-wrap .menu > div
{
    background: var(--overlay-color);
    border-radius: 50%;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div
{
    text-align: center;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease 0s;
}

/* Styling of list */

.menu-wrap .menu > div > div > ul >li
{
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem;
    
}

/* Styling a tag */

.menu-wrap .menu > div > div > ul > li > a
{
    text-decoration: none;
    color: #fff;
    transition: color 0.4s ease;

}

.menu-wrap .menu > div > div > ul > li > a:hover
{
    color: var(--secondary-color);
}



